# Bibliotecas para manipulação dos dados

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd

# Leitura de dados

## Parte de teste

### Features de Teste

In [2]:
dataset_testing_features = pd.read_csv('facebook_dataset/Dataset/Testing/Features_TestSet.csv')

In [3]:
dataset_testing_features.head()

,634995,0,463,1,1.0,17.0,7.0,2.0,6.663332499583072,1.0.1,...,0.7,0.8,0.9,0.10,0.11,0.12,1.2,0.13,0.14,1.3
0,634995,0,463,1,1.0,17.0,7.0,2.0,6.663332,1.0,...,0,0,0,0,0,0,0,1,0,0
1,634995,0,463,1,1.0,17.0,7.0,2.0,6.663332,1.0,...,1,0,0,0,0,0,0,1,0,0
2,634995,0,463,1,1.0,17.0,7.0,2.0,6.663332,1.0,...,0,1,1,0,0,0,0,0,0,0
3,634995,0,463,1,1.0,17.0,7.0,2.0,6.663332,1.0,...,0,0,0,1,0,0,0,0,0,1
4,4394623,0,151766,2,1484.0,1484.0,1484.0,1484.0,0.000000,1484.0,...,0,0,0,0,0,0,0,1,0,292

In [4]:
dataset_testing_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10043 entries, 0 to 10042
Data columns (total 54 columns):
634995                 10043 non-null int64
0                      10043 non-null int64
463                    10043 non-null int64
1                      10043 non-null int64
1.0                    10043 non-null float64
17.0                   10043 non-null float64
7.0                    10043 non-null float64
2.0                    10043 non-null float64
6.663332499583072      10043 non-null float64
1.0.1                  10043 non-null float64
17.0.1                 10043 non-null float64
5.0                    10043 non-null float64
2.0.1                  10043 non-null float64
6.0332412515993425     10043 non-null float64
0.0                    10043 non-null float64
10.0                   10043 non-null float64
2.0.2                  10043 non-null float64
0.0.1                  10043 non-null float64
4.0                    10043 non-null float64
1.0.2                  10043 non-null float64
17.0.2                 10043 non-null float64
7.0.1                  10043 non-null float64
2.0.3                  10043 non-null float64
6.663332499583072.1    10043 non-null float64
-7.0                   10043 non-null float64
17.0.3                 10043 non-null float64
3.0                    10043 non-null float64
2.0.4                  10043 non-null float64
7.771743691090179      10043 non-null float64
2                      10043 non-null int64
2.1                    10043 non-null int64
0.1                    10043 non-null int64
2.2                    10043 non-null int64
2.3                    10043 non-null int64
2.4                    10043 non-null int64
84                     10043 non-null int64
2.5                    10043 non-null int64
0.2                    10043 non-null int64
24                     10043 non-null int64
0.3                    10043 non-null int64
0.4                    10043 non-null int64
0.5                    10043 non-null int64
0.6                    10043 non-null int64
1.1                    10043 non-null int64
0.7                    10043 non-null int64
0.8                    10043 non-null int64
0.9                    10043 non-null int64
0.10                   10043 non-null int64
0.11                   10043 non-null int64
0.12                   10043 non-null int64
1.2                    10043 non-null int64
0.13                   10043 non-null int64
0.14                   10043 non-null int64
1.3                    10043 non-null int64
dtypes: float64(25), int64(29)
memory usage: 4.1 MB

In [5]:
dataset_testing_features.describe()

,634995,0,463,1,1.0,17.0,7.0,2.0,6.663332499583072,1.0.1,...,0.7,0.8,0.9,0.10,0.11,0.12,1.2,0.13,0.14,1.3
count,1.004300e+04,1.004300e+04,1.004300e+04,10043.000000,10043.000000,10043.000000,10043.000000,10043.000000,10043.000000,10043.000000,...,10043.000000,10043.000000,10043.000000,10043.000000,10043.0,10043.0,10043.000000,10043.000000,10043.000000,10043.000000
mean,4.174184e+06,6.223589e+03,2.810985e+05,21.565767,9.767301,734.570248,100.743304,58.737429,131.546079,5.146968,...,0.247336,0.227920,0.336254,0.198745,0.0,0.0,0.088022,0.177935,0.199044,29.243254
std,9.687169e+06,4.097370e+04,5.078534e+05,19.532923,81.362198,833.763187,161.718732,131.201981,155.217761,49.849588,...,0.431485,0.419512,0.472451,0.399076,0.0,0.0,0.283340,0.382477,0.399301,115.038804
min,2.030000e+02,0.000000e+00,0.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
25%,5.907070e+05,0.000000e+00,2.493400e+04,9.000000,0.000000,63.000000,11.764706,6.000000,13.500000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
50%,1.501468e+06,0.000000e+00,8.886400e+04,16.000000,0.000000,351.000000,61.916667,20.000000,75.184910,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,2.000000
75%,4.290409e+06,4.100000e+01,3.295300e+05,28.000000,0.000000,1154.000000,124.181818,60.000000,211.049131,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,13.000000
max,1.626244e+08,1.100558e+06,6.784263e+06,107.000000,2575.000000,2858.000000,2575.000000,2575.000000,1101.000000,1672.000000,...,1.000000,1.000000,1.000000,1.000000,0.0,0.0,1.000000,1.000000,1.000000,2412.000000

In [6]:
del dataset_testing_features

## Casos de teste

Foram fornecidos um total de 10 casos de testes.

In [7]:
dataset_testing_TestSet_Test_Case_1 = pd.read_csv('facebook_dataset/Dataset/Testing/TestSet/Test_Case_1.csv')

In [8]:
dataset_testing_TestSet_Test_Case_1.head()

,1340759,33935,49392,9,0.0,768.0,77.2,36.5,132.86143157440384,0.0.1,...,0.11,0.12,0.13,0.14,0.15,0.16,1.1,0.17,0.18,35
0,161455,0,5978,4,3.0,75.0,22.714286,15.0,23.389340,3.0,...,1,0,0,0,0,0,0,0,1,2
1,92385,88,34785,70,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0,0,0,0,0,0,0,0,1,0
2,395272,0,3406,17,0.0,22.0,4.000000,1.0,6.599663,0.0,...,0,1,1,0,0,0,0,0,0,0
3,4349418,0,614043,9,0.0,958.0,65.974194,24.0,126.960748,0.0,...,0,1,1,0,0,0,0,0,0,0
4,22899301,1,2454921,2,0.0,2526.0,958.181818,618.0,742.114157,0.0,...,0,0,0,1,0,0,0,0,0,112

In [9]:
dataset_testing_TestSet_Test_Case_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 54 columns):
1340759               99 non-null int64
33935                 99 non-null int64
49392                 99 non-null int64
9                     99 non-null int64
0.0                   99 non-null float64
768.0                 99 non-null float64
77.2                  99 non-null float64
36.5                  99 non-null float64
132.86143157440384    99 non-null float64
0.0.1                 99 non-null float64
275.0                 99 non-null float64
28.6                  99 non-null float64
14.0                  99 non-null float64
45.46691104528655     99 non-null float64
0.0.2                 99 non-null float64
716.0                 99 non-null float64
47.825                99 non-null float64
0.0.3                 99 non-null float64
124.05057184471177    99 non-null float64
0.0.4                 99 non-null float64
744.0                 99 non-null float64
76.0                  99 non-null float64
36.5.1                99 non-null float64
129.4776042410424     99 non-null float64
-664.0                99 non-null float64
275.0.1               99 non-null float64
-19.225               99 non-null float64
5.0                   99 non-null float64
131.03653832042423    99 non-null float64
0                     99 non-null int64
0.1                   99 non-null int64
0.2                   99 non-null int64
0.3                   99 non-null int64
0.4                   99 non-null int64
0.5                   99 non-null int64
150                   99 non-null int64
23                    99 non-null int64
0.6                   99 non-null int64
22                    99 non-null int64
0.7                   99 non-null int64
0.8                   99 non-null int64
0.9                   99 non-null int64
0.10                  99 non-null int64
1                     99 non-null int64
0.11                  99 non-null int64
0.12                  99 non-null int64
0.13                  99 non-null int64
0.14                  99 non-null int64
0.15                  99 non-null int64
0.16                  99 non-null int64
1.1                   99 non-null int64
0.17                  99 non-null int64
0.18                  99 non-null int64
35                    99 non-null int64
dtypes: float64(25), int64(29)
memory usage: 41.8 KB

In [10]:
dataset_testing_TestSet_Test_Case_1.describe()

,1340759,33935,49392,9,0.0,768.0,77.2,36.5,132.86143157440384,0.0.1,...,0.11,0.12,0.13,0.14,0.15,0.16,1.1,0.17,0.18,35
count,9.900000e+01,99.000000,9.900000e+01,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,...,99.000000,99.000000,99.000000,99.000000,99.0,99.0,99.000000,99.000000,99.000000,99.000000
mean,5.036575e+06,4388.737374,3.925243e+05,21.282828,7.222222,673.070707,89.486609,49.333333,116.639337,1.494949,...,0.282828,0.161616,0.292929,0.242424,0.0,0.0,0.111111,0.171717,0.181818,31.696970
std,1.240932e+07,23064.105894,8.728346e+05,21.421923,61.456730,771.564198,186.798307,140.982739,155.666169,11.904701,...,0.452666,0.369972,0.457422,0.430730,0.0,0.0,0.315869,0.379054,0.387657,84.875594
min,8.413000e+03,0.000000,3.550000e+02,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
25%,4.336840e+05,0.000000,3.414350e+04,9.000000,0.000000,73.500000,17.001793,4.500000,17.618877,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
50%,1.366971e+06,0.000000,9.415300e+04,12.000000,0.000000,332.000000,44.625000,22.000000,58.646656,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,3.000000
75%,4.290409e+06,27.500000,2.775470e+05,25.000000,0.000000,967.500000,83.037383,42.500000,165.898281,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,12.000000
max,7.260619e+07,185932.000000,6.784263e+06,98.000000,611.000000,2771.000000,1411.625000,1253.000000,1009.537158,118.000000,...,1.000000,1.000000,1.000000,1.000000,0.0,0.0,1.000000,1.000000,1.000000,572.000000

In [11]:
del dataset_testing_TestSet_Test_Case_1

In [12]:
dataset_testing_TestSet_Test_Case_2 = pd.read_csv('facebook_dataset/Dataset/Testing/TestSet/Test_Case_2.csv')

In [13]:
dataset_testing_TestSet_Test_Case_2.head()

,3040489,2416,256293,9,0.0,526.0,87.62745098039215,50.0,107.6120411631822,0.0.1,...,0.6,0.7,1.1,0.8,0.9,0.10,0.11,0.12,0.13,10
0,2071999,156,150355,57,0.0,584.0,21.544444,11.0,50.327519,0.0,...,0,0,0,0,0,0,1,0,0,0
1,433536,615,11192,24,2.0,32.0,11.166667,5.5,10.915076,0.0,...,0,0,0,0,0,0,1,0,0,4
2,6142736,0,806252,20,0.0,2145.0,276.961111,190.0,286.605834,0.0,...,0,0,0,1,0,0,0,0,0,2
3,2012105,4,9530,20,0.0,3.0,1.800000,2.0,1.166190,0.0,...,0,0,0,0,0,0,0,0,1,0
4,7524029,0,356036,20,0.0,460.0,73.350877,41.0,96.075718,0.0,...,0,0,0,1,0,0,0,0,0,4

In [14]:
dataset_testing_TestSet_Test_Case_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 54 columns):
3040489               99 non-null int64
2416                  99 non-null int64
256293                99 non-null int64
9                     99 non-null int64
0.0                   99 non-null float64
526.0                 99 non-null float64
87.62745098039215     99 non-null float64
50.0                  99 non-null float64
107.6120411631822     99 non-null float64
0.0.1                 99 non-null float64
526.0.1               99 non-null float64
85.6078431372549      99 non-null float64
50.0.1                99 non-null float64
108.46560463790163    99 non-null float64
0.0.2                 99 non-null float64
71.0                  99 non-null float64
2.019607843137255     99 non-null float64
0.0.3                 99 non-null float64
10.716471097679005    99 non-null float64
0.0.4                 99 non-null float64
526.0.2               99 non-null float64
87.52941176470588     99 non-null float64
50.0.2                99 non-null float64
107.6327002102797     99 non-null float64
-57.0                 99 non-null float64
526.0.3               99 non-null float64
83.58823529411765     99 non-null float64
50.0.3                99 non-null float64
110.35809386356551    99 non-null float64
17                    99 non-null int64
17.1                  99 non-null int64
0                     99 non-null int64
17.2                  99 non-null int64
17.3                  99 non-null int64
6                     99 non-null int64
229                   99 non-null int64
17.4                  99 non-null int64
0.1                   99 non-null int64
18                    99 non-null int64
1                     99 non-null int64
0.2                   99 non-null int64
0.3                   99 non-null int64
0.4                   99 non-null int64
0.5                   99 non-null int64
0.6                   99 non-null int64
0.7                   99 non-null int64
1.1                   99 non-null int64
0.8                   99 non-null int64
0.9                   99 non-null int64
0.10                  99 non-null int64
0.11                  99 non-null int64
0.12                  99 non-null int64
0.13                  99 non-null int64
10                    99 non-null int64
dtypes: float64(25), int64(29)
memory usage: 41.8 KB

In [15]:
dataset_testing_TestSet_Test_Case_2.describe()

,3040489,2416,256293,9,0.0,526.0,87.62745098039215,50.0,107.6120411631822,0.0.1,...,0.6,0.7,1.1,0.8,0.9,0.10,0.11,0.12,0.13,10
count,9.900000e+01,99.000000,9.900000e+01,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,...,99.000000,99.000000,99.000000,99.000000,99.0,99.0,99.000000,99.000000,99.000000,99.000000
mean,4.454424e+06,5255.434343,3.230002e+05,19.929293,14.101010,782.404040,118.844871,71.616162,144.002612,5.555556,...,0.272727,0.171717,0.323232,0.222222,0.0,0.0,0.101010,0.131313,0.222222,23.737374
std,1.019771e+07,23908.552411,4.670249e+05,15.504609,47.091854,872.508241,192.046598,142.212058,172.255738,25.532381,...,0.447628,0.379054,0.470091,0.417855,0.0,0.0,0.302876,0.339461,0.417855,86.880352
min,4.685000e+03,0.000000,3.910000e+02,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
25%,8.436190e+05,0.000000,2.478500e+04,9.000000,0.000000,50.000000,9.623188,4.000000,10.056477,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
50%,2.071999e+06,0.000000,8.772200e+04,18.000000,0.000000,446.000000,58.875000,24.000000,96.075718,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,1.000000
75%,4.351476e+06,27.000000,4.268000e+05,26.000000,0.000000,1180.000000,145.020576,65.000000,238.545669,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,8.000000
max,7.260619e+07,185932.000000,2.333976e+06,78.000000,247.000000,2858.000000,1135.500000,938.000000,917.845447,215.000000,...,1.000000,1.000000,1.000000,1.000000,0.0,0.0,1.000000,1.000000,1.000000,628.000000

In [16]:
del dataset_testing_TestSet_Test_Case_2

In [17]:
dataset_testing_TestSet_Test_Case_3 = pd.read_csv('facebook_dataset/Dataset/Testing/TestSet/Test_Case_3.csv')

In [18]:
dataset_testing_TestSet_Test_Case_3.head()

,366982,0,9216,73,0.0,285.0,41.38461538461539,3.0,88.3537805220828,0.0.1,...,0.8,0.9,1.2,0.10,0.11,0.12,0.13,0.14,0.15,0.16
0,390311,14,7222,67,0.0,3.0,0.888889,0.0,1.286204,0.0,...,0,0,1,0,0,0,0,0,0,0
1,228637,0,1449,76,1.0,4.0,2.750000,3.0,1.299038,0.0,...,0,1,1,0,0,0,0,0,0,0
2,1720897,1152,10096,46,0.0,142.0,9.623188,4.0,20.287857,0.0,...,0,0,0,0,0,0,1,0,0,3
3,406046,0,31774,42,0.0,206.0,39.375000,15.5,64.496003,0.0,...,0,0,0,0,0,0,1,0,0,2
4,668834,4,42523,9,0.0,319.0,134.066667,139.0,112.033606,0.0,...,1,0,0,0,0,0,0,1,0,27

In [19]:
dataset_testing_TestSet_Test_Case_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 54 columns):
366982                99 non-null int64
0                     99 non-null int64
9216                  99 non-null int64
73                    99 non-null int64
0.0                   99 non-null float64
285.0                 99 non-null float64
41.38461538461539     99 non-null float64
3.0                   99 non-null float64
88.3537805220828      99 non-null float64
0.0.1                 99 non-null float64
285.0.1               99 non-null float64
30.53846153846154     99 non-null float64
2.0                   99 non-null float64
77.73190156370845     99 non-null float64
0.0.2                 99 non-null float64
108.0                 99 non-null float64
10.076923076923077    99 non-null float64
0.0.3                 99 non-null float64
28.5103531490999      99 non-null float64
0.0.4                 99 non-null float64
285.0.2               99 non-null float64
40.30769230769231     99 non-null float64
2.0.1                 99 non-null float64
86.74044803575657     99 non-null float64
-11.0                 99 non-null float64
285.0.3               99 non-null float64
20.46153846153846     99 non-null float64
0.0.5                 99 non-null float64
76.46881253125898     99 non-null float64
9                     99 non-null int64
0.1                   99 non-null int64
1                     99 non-null int64
9.1                   99 non-null int64
-1                    99 non-null int64
60                    99 non-null int64
0.2                   99 non-null int64
3                     99 non-null int64
0.3                   99 non-null int64
24                    99 non-null int64
0.4                   99 non-null int64
0.5                   99 non-null int64
0.6                   99 non-null int64
0.7                   99 non-null int64
1.1                   99 non-null int64
0.8                   99 non-null int64
0.9                   99 non-null int64
1.2                   99 non-null int64
0.10                  99 non-null int64
0.11                  99 non-null int64
0.12                  99 non-null int64
0.13                  99 non-null int64
0.14                  99 non-null int64
0.15                  99 non-null int64
0.16                  99 non-null int64
dtypes: float64(25), int64(29)
memory usage: 41.8 KB

In [20]:
dataset_testing_TestSet_Test_Case_3.describe()

,366982,0,9216,73,0.0,285.0,41.38461538461539,3.0,88.3537805220828,0.0.1,...,0.8,0.9,1.2,0.10,0.11,0.12,0.13,0.14,0.15,0.16
count,9.900000e+01,99.000000,9.900000e+01,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,...,99.000000,99.000000,99.000000,99.000000,99.0,99.0,99.000000,99.000000,99.000000,99.000000
mean,3.434562e+06,5525.080808,2.512557e+05,23.707071,4.171717,684.767677,98.092320,62.772727,125.818387,1.484848,...,0.181818,0.242424,0.323232,0.191919,0.0,0.0,0.131313,0.161616,0.191919,17.363636
std,6.852055e+06,28614.196939,4.145446e+05,25.447927,20.685714,826.294221,167.297579,145.687765,167.514875,7.468797,...,0.387657,0.430730,0.470091,0.395814,0.0,0.0,0.339461,0.369972,0.395814,45.670616
min,1.469100e+04,0.000000,2.640000e+02,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
25%,4.336840e+05,0.000000,1.362200e+04,9.000000,0.000000,47.000000,11.166667,7.000000,14.712632,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
50%,1.008262e+06,0.000000,6.963800e+04,14.000000,0.000000,307.000000,46.000000,18.000000,68.962226,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,3.000000
75%,3.947002e+06,8.000000,3.287930e+05,31.500000,0.000000,1128.000000,116.921978,55.000000,188.585407,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,13.500000
max,4.899748e+07,185932.000000,2.454921e+06,98.000000,177.000000,2730.000000,1101.000000,1101.000000,1101.000000,62.000000,...,1.000000,1.000000,1.000000,1.000000,0.0,0.0,1.000000,1.000000,1.000000,313.000000

In [21]:
del dataset_testing_TestSet_Test_Case_3

In [22]:
dataset_testing_TestSet_Test_Case_4 = pd.read_csv('facebook_dataset/Dataset/Testing/TestSet/Test_Case_4.csv')

In [23]:
dataset_testing_TestSet_Test_Case_4.head()

,3446583,0,92639,26,0.0,547.0,95.73214285714286,60.0,104.4539356899607,0.0.1,...,0.8,1,1.1,0.9,0.10,0.11,0.12,0.13,0.14,2.1
0,682730,334,2957,26,1.0,29.0,12.285714,13.0,8.480470,1.0,...,0,1,1,0,0,0,0,0,0,3
1,4351476,0,259892,52,0.0,801.0,58.828571,20.0,124.211682,0.0,...,0,0,0,0,0,0,0,0,1,0
2,58024,0,5164,34,0.0,4.0,1.647059,1.0,1.531673,0.0,...,0,1,0,0,0,0,0,0,1,4
3,129525,0,57099,24,3.0,71.0,36.250000,36.0,28.331740,2.0,...,0,0,0,0,0,0,0,0,1,0
4,1720897,1152,10096,46,0.0,142.0,9.623188,4.0,20.287857,0.0,...,0,1,1,0,0,0,0,0,0,0

In [24]:
dataset_testing_TestSet_Test_Case_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 54 columns):
3446583               99 non-null int64
0                     99 non-null int64
92639                 99 non-null int64
26                    99 non-null int64
0.0                   99 non-null float64
547.0                 99 non-null float64
95.73214285714286     99 non-null float64
60.0                  99 non-null float64
104.4539356899607     99 non-null float64
0.0.1                 99 non-null float64
547.0.1               99 non-null float64
61.05357142857143     99 non-null float64
29.5                  99 non-null float64
96.19946161916046     99 non-null float64
0.0.2                 99 non-null float64
397.0                 99 non-null float64
30.0                  99 non-null float64
0.0.3                 99 non-null float64
63.4048781359019      99 non-null float64
0.0.4                 99 non-null float64
547.0.2               99 non-null float64
93.78571428571429     99 non-null float64
59.5                  99 non-null float64
103.60876174438185    99 non-null float64
-354.0                99 non-null float64
547.0.3               99 non-null float64
31.053571428571427    99 non-null float64
14.5                  99 non-null float64
124.2995258643493     99 non-null float64
29                    99 non-null int64
29.1                  99 non-null int64
0.1                   99 non-null int64
29.2                  99 non-null int64
29.3                  99 non-null int64
14                    99 non-null int64
124                   99 non-null int64
2                     99 non-null int64
0.2                   99 non-null int64
24                    99 non-null int64
0.3                   99 non-null int64
0.4                   99 non-null int64
0.5                   99 non-null int64
0.6                   99 non-null int64
0.7                   99 non-null int64
0.8                   99 non-null int64
1                     99 non-null int64
1.1                   99 non-null int64
0.9                   99 non-null int64
0.10                  99 non-null int64
0.11                  99 non-null int64
0.12                  99 non-null int64
0.13                  99 non-null int64
0.14                  99 non-null int64
2.1                   99 non-null int64
dtypes: float64(25), int64(29)
memory usage: 41.8 KB

In [25]:
dataset_testing_TestSet_Test_Case_4.describe()

,3446583,0,92639,26,0.0,547.0,95.73214285714286,60.0,104.4539356899607,0.0.1,...,0.8,1,1.1,0.9,0.10,0.11,0.12,0.13,0.14,2.1
count,9.900000e+01,99.000000,9.900000e+01,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,...,99.000000,99.000000,99.000000,99.000000,99.0,99.0,99.000000,99.000000,99.000000,99.00000
mean,2.856849e+06,3330.414141,2.165990e+05,20.969697,2.020202,635.232323,87.157654,51.075758,113.500221,1.151515,...,0.222222,0.262626,0.303030,0.111111,0.0,0.0,0.111111,0.242424,0.232323,37.40404
std,7.421730e+06,18037.819644,3.868689e+05,19.405162,7.976982,724.019250,97.565957,69.771177,117.763205,6.751211,...,0.417855,0.442301,0.461907,0.315869,0.0,0.0,0.315869,0.430730,0.424463,135.80966
min,4.029300e+04,0.000000,1.850000e+02,1.000000,0.000000,1.000000,0.333333,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000
25%,5.127170e+05,0.000000,2.112150e+04,9.000000,0.000000,84.000000,15.550000,7.000000,17.305135,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000
50%,1.072333e+06,0.000000,7.445000e+04,16.000000,0.000000,305.000000,49.637255,21.000000,69.213958,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,2.00000
75%,3.995273e+06,15.500000,2.038165e+05,24.000000,0.000000,957.000000,118.145536,65.000000,168.120733,0.000000,...,0.000000,1.000000,1.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,13.50000
max,7.260619e+07,122388.000000,2.333976e+06,98.000000,64.000000,2489.000000,397.555556,303.000000,575.022147,64.000000,...,1.000000,1.000000,1.000000,1.000000,0.0,0.0,1.000000,1.000000,1.000000,1233.00000

In [26]:
del dataset_testing_TestSet_Test_Case_4

In [27]:
dataset_testing_TestSet_Test_Case_5 = pd.read_csv('facebook_dataset/Dataset/Testing/TestSet/Test_Case_5.csv')

In [28]:
dataset_testing_TestSet_Test_Case_5.head()

,185158,0,3073,44,59.0,59.0.1,59.0.2,59.0.3,0.0,16.0,...,1.1,0.7,0.8,0.9,0.10,0.11,0.12,0.13,1.2,5
0,2095354,514,74821,52,0.0,80.0,12.962963,6.0,18.337336,0.0,...,0,0,0,0,0,0,0,1,0,4
1,4349418,0,614043,9,0.0,958.0,65.974194,24.0,126.960748,0.0,...,1,0,0,0,0,0,0,1,0,30
2,512717,0,184784,34,0.0,136.0,21.961538,10.0,29.750864,0.0,...,0,1,0,0,0,0,0,0,1,0
3,1501889,0,33752,14,0.0,20.0,5.888889,3.0,6.279498,0.0,...,0,0,0,0,0,0,0,0,1,0
4,5365996,40729,102442,9,0.0,642.0,121.148148,54.0,154.874191,0.0,...,1,0,0,1,0,0,0,0,0,0

In [29]:
dataset_testing_TestSet_Test_Case_5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 54 columns):
185158     99 non-null int64
0          99 non-null int64
3073       99 non-null int64
44         99 non-null int64
59.0       99 non-null float64
59.0.1     99 non-null float64
59.0.2     99 non-null float64
59.0.3     99 non-null float64
0.0        99 non-null float64
16.0       99 non-null float64
16.0.1     99 non-null float64
16.0.2     99 non-null float64
16.0.3     99 non-null float64
0.0.1      99 non-null float64
43.0       99 non-null float64
43.0.1     99 non-null float64
43.0.2     99 non-null float64
43.0.3     99 non-null float64
0.0.2      99 non-null float64
54.0       99 non-null float64
54.0.1     99 non-null float64
54.0.2     99 non-null float64
54.0.3     99 non-null float64
0.0.3      99 non-null float64
-27.0      99 non-null float64
-27.0.1    99 non-null float64
-27.0.2    99 non-null float64
-27.0.3    99 non-null float64
0.0.4      99 non-null float64
59         99 non-null int64
16         99 non-null int64
43         99 non-null int64
54         99 non-null int64
-27        99 non-null int64
40         99 non-null int64
15         99 non-null int64
1          99 non-null int64
0.1        99 non-null int64
19         99 non-null int64
0.2        99 non-null int64
0.3        99 non-null int64
0.4        99 non-null int64
0.5        99 non-null int64
0.6        99 non-null int64
1.1        99 non-null int64
0.7        99 non-null int64
0.8        99 non-null int64
0.9        99 non-null int64
0.10       99 non-null int64
0.11       99 non-null int64
0.12       99 non-null int64
0.13       99 non-null int64
1.2        99 non-null int64
5          99 non-null int64
dtypes: float64(25), int64(29)
memory usage: 41.8 KB

In [30]:
dataset_testing_TestSet_Test_Case_5.describe()

,185158,0,3073,44,59.0,59.0.1,59.0.2,59.0.3,0.0,16.0,...,1.1,0.7,0.8,0.9,0.10,0.11,0.12,0.13,1.2,5
count,9.900000e+01,99.000000,9.900000e+01,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,...,99.000000,99.000000,99.000000,99.000000,99.0,99.0,99.000000,99.000000,99.000000,99.000000
mean,4.760252e+06,1292.767677,3.283957e+05,20.909091,14.050505,736.242424,115.740547,66.530303,140.396197,6.353535,...,0.242424,0.222222,0.343434,0.181818,0.0,0.0,0.090909,0.202020,0.181818,27.707071
std,1.030053e+07,5726.497155,5.439238e+05,18.767694,122.544151,844.980257,192.650074,161.584088,175.035179,52.860871,...,0.430730,0.417855,0.477272,0.387657,0.0,0.0,0.288943,0.403551,0.387657,62.492653
min,1.251800e+04,0.000000,4.790000e+02,1.000000,0.000000,1.000000,0.250000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
25%,6.409870e+05,0.000000,3.448000e+04,9.000000,0.000000,67.500000,15.405882,6.500000,11.514401,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
50%,1.514256e+06,0.000000,8.428800e+04,17.000000,0.000000,307.000000,61.500000,22.000000,69.645172,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,3.000000
75%,4.377561e+06,27.000000,3.995715e+05,26.000000,0.000000,1128.000000,123.226358,55.000000,238.545669,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,22.000000
max,7.260619e+07,40729.000000,3.263205e+06,99.000000,1218.000000,2858.000000,1218.000000,1218.000000,871.033704,521.000000,...,1.000000,1.000000,1.000000,1.000000,0.0,0.0,1.000000,1.000000,1.000000,317.000000

In [31]:
del dataset_testing_TestSet_Test_Case_5

In [32]:
dataset_testing_TestSet_Test_Case_6 = pd.read_csv('facebook_dataset/Dataset/Testing/TestSet/Test_Case_6.csv')

In [33]:
dataset_testing_TestSet_Test_Case_6.head()

,4377561,27,1508006,20,0.0,2077.0,145.02057613168725,65.0,258.24206987788045,0.0.1,...,0.6,1,0.7,1.1,0.8,0.9,0.10,0.11,0.12,0.13
0,1072333,0,18808,4,0.0,418.0,43.234043,29.0,66.387711,0.0,...,0,0,0,1,0,0,0,0,0,2
1,6142736,0,806252,20,0.0,2145.0,276.961111,190.0,286.605834,0.0,...,0,0,1,0,0,0,0,0,0,188
2,3589143,0,189543,24,27.0,442.0,195.666667,111.0,168.735822,1.0,...,1,0,0,0,0,0,0,1,0,333
3,3159268,0,155474,73,0.0,25.0,11.380952,9.0,7.907056,0.0,...,1,0,0,0,0,0,0,1,0,1
4,8078774,1,1226888,42,0.0,1586.0,360.742857,276.0,338.567937,0.0,...,0,1,0,0,0,0,0,0,1,40

In [34]:
dataset_testing_TestSet_Test_Case_6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 54 columns):
4377561               99 non-null int64
27                    99 non-null int64
1508006               99 non-null int64
20                    99 non-null int64
0.0                   99 non-null float64
2077.0                99 non-null float64
145.02057613168725    99 non-null float64
65.0                  99 non-null float64
258.24206987788045    99 non-null float64
0.0.1                 99 non-null float64
1390.0                99 non-null float64
81.88065843621399     99 non-null float64
30.0                  99 non-null float64
161.91777036018686    99 non-null float64
0.0.2                 99 non-null float64
1877.0                99 non-null float64
55.23868312757202     99 non-null float64
0.0.3                 99 non-null float64
177.0838558467655     99 non-null float64
0.0.4                 99 non-null float64
1877.0.1              99 non-null float64
139.74074074074073    99 non-null float64
64.0                  99 non-null float64
244.47598000846097    99 non-null float64
-1677.0               99 non-null float64
1390.0.1              99 non-null float64
26.641975308641975    99 non-null float64
14.0                  99 non-null float64
225.39603784435417    99 non-null float64
31                    99 non-null int64
3                     99 non-null int64
28                    99 non-null int64
31.1                  99 non-null int64
-25                   99 non-null int64
41                    99 non-null int64
59                    99 non-null int64
31.2                  99 non-null int64
0                     99 non-null int64
12                    99 non-null int64
0.1                   99 non-null int64
0.2                   99 non-null int64
0.3                   99 non-null int64
0.4                   99 non-null int64
0.5                   99 non-null int64
0.6                   99 non-null int64
1                     99 non-null int64
0.7                   99 non-null int64
1.1                   99 non-null int64
0.8                   99 non-null int64
0.9                   99 non-null int64
0.10                  99 non-null int64
0.11                  99 non-null int64
0.12                  99 non-null int64
0.13                  99 non-null int64
dtypes: float64(25), int64(29)
memory usage: 41.8 KB

In [35]:
dataset_testing_TestSet_Test_Case_6.describe()

,4377561,27,1508006,20,0.0,2077.0,145.02057613168725,65.0,258.24206987788045,0.0.1,...,0.6,1,0.7,1.1,0.8,0.9,0.10,0.11,0.12,0.13
count,9.900000e+01,99.000000,9.900000e+01,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,...,99.000000,99.000000,99.000000,99.000000,99.0,99.0,99.000000,99.000000,99.000000,99.000000
mean,3.488498e+06,2654.282828,2.139689e+05,24.545455,1.848485,602.000000,70.317322,38.313131,103.683989,0.494949,...,0.262626,0.232323,0.333333,0.141414,0.0,0.0,0.070707,0.232323,0.222222,13.565657
std,8.217546e+06,17084.684127,3.563729e+05,22.379506,10.295991,779.057175,83.509388,58.219044,121.420067,2.374927,...,0.442301,0.424463,0.473804,0.350222,0.0,0.0,0.257639,0.424463,0.417855,40.587060
min,6.991000e+03,0.000000,3.830000e+02,1.000000,0.000000,1.000000,0.428571,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
25%,5.145490e+05,0.000000,1.582000e+04,9.000000,0.000000,34.000000,8.193609,3.750000,9.323227,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
50%,1.241638e+06,0.000000,6.814600e+04,20.000000,0.000000,191.000000,43.234043,16.500000,55.452183,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,1.000000
75%,3.933869e+06,1.000000,2.365770e+05,34.000000,0.000000,947.500000,100.968481,41.250000,164.593450,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,10.000000
max,7.260619e+07,120918.000000,2.333976e+06,102.000000,96.000000,2730.000000,362.777778,303.000000,444.151505,16.000000,...,1.000000,1.000000,1.000000,1.000000,0.0,0.0,1.000000,1.000000,1.000000,333.000000

In [36]:
del dataset_testing_TestSet_Test_Case_6

In [37]:
dataset_testing_TestSet_Test_Case_7 = pd.read_csv('facebook_dataset/Dataset/Testing/TestSet/Test_Case_7.csv')

In [38]:
dataset_testing_TestSet_Test_Case_7.head()

,2900008,46,1125038,9,0.0,2092.0,71.98522167487685,26.0,202.11815492447482,0.0.1,...,0.6,0.7,1.1,0.8,0.9,0.10,0.11,0.12,0.13,6
0,1063311,366,16303,99,0.0,6.0,1.714286,1.0,2.185294,0.0,...,1,0,0,0,0,0,0,0,1,0
1,353986,0,11639,26,0.0,35.0,3.600000,1.5,7.439086,0.0,...,1,0,0,0,0,0,0,1,0,0
2,145084,0,14223,31,19.0,276.0,85.500000,39.5,91.928867,19.0,...,0,0,0,0,0,0,0,1,0,29
3,165002,0,25302,36,0.0,66.0,19.000000,3.5,25.232254,0.0,...,0,1,0,0,0,0,0,0,1,296
4,2289651,185932,119581,9,0.0,328.0,56.355932,32.0,68.962226,0.0,...,0,1,1,0,0,0,0,0,0,0

In [39]:
dataset_testing_TestSet_Test_Case_7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 54 columns):
2900008                 99 non-null int64
46                      99 non-null int64
1125038                 99 non-null int64
9                       99 non-null int64
0.0                     99 non-null float64
2092.0                  99 non-null float64
71.98522167487685       99 non-null float64
26.0                    99 non-null float64
202.11815492447482      99 non-null float64
0.0.1                   99 non-null float64
2092.0.1                99 non-null float64
71.98522167487685.1     99 non-null float64
26.0.1                  99 non-null float64
202.11815492447482.1    99 non-null float64
0.0.2                   99 non-null float64
0.0.3                   99 non-null float64
0.0.4                   99 non-null float64
0.0.5                   99 non-null float64
0.0.6                   99 non-null float64
0.0.7                   99 non-null float64
2092.0.2                99 non-null float64
71.98522167487685.2     99 non-null float64
26.0.2                  99 non-null float64
202.11815492447482.2    99 non-null float64
0.0.8                   99 non-null float64
2092.0.3                99 non-null float64
71.98522167487685.3     99 non-null float64
26.0.3                  99 non-null float64
202.11815492447482.3    99 non-null float64
25                      99 non-null int64
25.1                    99 non-null int64
0                       99 non-null int64
25.2                    99 non-null int64
25.3                    99 non-null int64
8                       99 non-null int64
48                      99 non-null int64
15                      99 non-null int64
0.1                     99 non-null int64
9.1                     99 non-null int64
1                       99 non-null int64
0.2                     99 non-null int64
0.3                     99 non-null int64
0.4                     99 non-null int64
0.5                     99 non-null int64
0.6                     99 non-null int64
0.7                     99 non-null int64
1.1                     99 non-null int64
0.8                     99 non-null int64
0.9                     99 non-null int64
0.10                    99 non-null int64
0.11                    99 non-null int64
0.12                    99 non-null int64
0.13                    99 non-null int64
6                       99 non-null int64
dtypes: float64(25), int64(29)
memory usage: 41.8 KB

In [40]:
dataset_testing_TestSet_Test_Case_7.describe()

,2900008,46,1125038,9,0.0,2092.0,71.98522167487685,26.0,202.11815492447482,0.0.1,...,0.6,0.7,1.1,0.8,0.9,0.10,0.11,0.12,0.13,6
count,9.900000e+01,9.900000e+01,9.900000e+01,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,...,99.000000,99.000000,99.000000,99.000000,99.0,99.0,99.000000,99.000000,99.000000,99.000000
mean,4.366339e+06,1.602896e+04,2.419172e+05,23.262626,2.878788,598.555556,79.083908,42.141414,109.977386,1.030303,...,0.252525,0.232323,0.373737,0.181818,0.0,0.0,0.010101,0.202020,0.232323,20.828283
std,1.067325e+07,1.123749e+05,4.719916e+05,21.306120,16.300290,770.129332,119.179738,79.421314,134.602334,5.842236,...,0.436672,0.424463,0.486257,0.387657,0.0,0.0,0.100504,0.403551,0.424463,70.064990
min,4.233000e+03,0.000000e+00,0.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
25%,4.299050e+05,0.000000e+00,1.519900e+04,9.000000,0.000000,37.000000,6.208958,3.500000,9.443707,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
50%,1.578743e+06,0.000000e+00,4.047800e+04,20.000000,0.000000,175.000000,39.142857,19.000000,46.361050,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,1.000000
75%,4.364518e+06,2.300000e+01,1.876400e+05,30.000000,0.000000,937.000000,106.204819,52.000000,166.049547,0.000000,...,0.500000,0.000000,1.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,7.000000
max,7.260619e+07,1.100558e+06,2.333976e+06,103.000000,157.000000,2489.000000,853.750000,500.000000,633.468577,54.000000,...,1.000000,1.000000,1.000000,1.000000,0.0,0.0,1.000000,1.000000,1.000000,548.000000

In [41]:
del dataset_testing_TestSet_Test_Case_7

In [42]:
dataset_testing_TestSet_Test_Case_8 = pd.read_csv('facebook_dataset/Dataset/Testing/TestSet/Test_Case_8.csv')

In [43]:
dataset_testing_TestSet_Test_Case_8.head()

,5132075,0,77741,1,0.0,43.0,14.2,0.0.1,18.02664694279,0.0.2,...,0.13,0.14,0.15,1.2,0.16,0.17,0.18,0.19,0.20,0.21
0,2900008,46,1125038,9,0.0,2092.0,71.985222,26.0,202.118155,0.0,...,0,0,0,0,0,0,1,0,0,34
1,22042113,0,1207173,9,0.0,59.0,22.647059,20.0,13.499199,0.0,...,0,1,1,0,0,0,0,0,0,0
2,5586080,0,74450,9,0.0,34.0,6.925926,5.0,6.347504,0.0,...,0,1,0,1,0,0,0,0,0,1
3,3544586,122388,227617,9,0.0,1151.0,176.557692,85.5,246.332125,0.0,...,0,0,0,1,0,0,0,0,0,22
4,34008,0,11863,18,0.0,78.0,31.500000,31.5,27.152348,0.0,...,1,0,0,0,0,0,0,0,1,1

In [44]:
dataset_testing_TestSet_Test_Case_8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 54 columns):
5132075             99 non-null int64
0                   99 non-null int64
77741               99 non-null int64
1                   99 non-null int64
0.0                 99 non-null float64
43.0                99 non-null float64
14.2                99 non-null float64
0.0.1               99 non-null float64
18.02664694279      99 non-null float64
0.0.2               99 non-null float64
43.0.1              99 non-null float64
14.2.1              99 non-null float64
0.0.3               99 non-null float64
18.02664694279.1    99 non-null float64
0.0.4               99 non-null float64
0.0.5               99 non-null float64
0.0.6               99 non-null float64
0.0.7               99 non-null float64
0.0.8               99 non-null float64
0.0.9               99 non-null float64
43.0.2              99 non-null float64
14.2.2              99 non-null float64
0.0.10              99 non-null float64
18.02664694279.2    99 non-null float64
0.0.11              99 non-null float64
43.0.3              99 non-null float64
14.2.3              99 non-null float64
0.0.12              99 non-null float64
18.02664694279.3    99 non-null float64
0.1                 99 non-null int64
0.2                 99 non-null int64
0.3                 99 non-null int64
0.4                 99 non-null int64
0.5                 99 non-null int64
0.6                 99 non-null int64
41                  99 non-null int64
27                  99 non-null int64
0.7                 99 non-null int64
0.8                 99 non-null int64
0.9                 99 non-null int64
1.1                 99 non-null int64
0.10                99 non-null int64
0.11                99 non-null int64
0.12                99 non-null int64
0.13                99 non-null int64
0.14                99 non-null int64
0.15                99 non-null int64
1.2                 99 non-null int64
0.16                99 non-null int64
0.17                99 non-null int64
0.18                99 non-null int64
0.19                99 non-null int64
0.20                99 non-null int64
0.21                99 non-null int64
dtypes: float64(25), int64(29)
memory usage: 41.8 KB

In [45]:
dataset_testing_TestSet_Test_Case_8.describe()

,5132075,0,77741,1,0.0,43.0,14.2,0.0.1,18.02664694279,0.0.2,...,0.13,0.14,0.15,1.2,0.16,0.17,0.18,0.19,0.20,0.21
count,9.900000e+01,99.000000,9.900000e+01,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,...,99.000000,99.000000,99.000000,99.000000,99.0,99.0,99.000000,99.000000,99.000000,99.000000
mean,2.951493e+06,4638.464646,2.664554e+05,20.464646,17.242424,713.494949,109.402228,72.166667,123.899792,5.676768,...,0.272727,0.262626,0.343434,0.191919,0.0,0.0,0.070707,0.181818,0.212121,40.151515
std,4.149033e+06,21526.015089,4.300744e+05,19.987401,71.024729,781.773760,188.737175,168.944940,145.008802,24.444368,...,0.447628,0.442301,0.477272,0.395814,0.0,0.0,0.257639,0.387657,0.410891,220.430625
min,8.580000e+03,0.000000,2.370000e+02,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
25%,5.196010e+05,0.000000,2.128350e+04,9.000000,0.000000,53.500000,10.254167,6.500000,11.700080,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
50%,1.340759e+06,0.000000,7.863500e+04,10.000000,0.000000,469.000000,65.974194,20.000000,81.850123,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,2.000000
75%,4.259082e+06,8.000000,3.863185e+05,26.000000,0.000000,1151.000000,121.479532,60.250000,202.118155,0.000000,...,1.000000,1.000000,1.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,9.000000
max,2.832584e+07,122388.000000,2.902472e+06,98.000000,536.000000,2369.000000,1157.500000,1086.500000,767.926356,149.000000,...,1.000000,1.000000,1.000000,1.000000,0.0,0.0,1.000000,1.000000,1.000000,2136.000000

In [46]:
del dataset_testing_TestSet_Test_Case_8

In [47]:
dataset_testing_TestSet_Test_Case_9 = pd.read_csv('facebook_dataset/Dataset/Testing/TestSet/Test_Case_9.csv')

In [48]:
dataset_testing_TestSet_Test_Case_9.head()

,1351556,28,54809,4,0.0,569.0,85.07142857142857,37.0,142.95576952615914,0.0.1,...,0.6,0.7,0.8,0.9,0.10,0.11,0.12,1.1,0.13,3
0,2307536,0,56506,52,0.0,68.0,11.115942,6.0,14.684643,0.0,...,0,1,0,0,0,0,0,0,1,0
1,6639220,49,185737,9,0.0,819.0,98.000000,63.0,139.591452,0.0,...,0,1,1,0,0,0,0,0,0,2
2,591673,0,175569,4,0.0,636.0,180.900000,124.5,169.263965,0.0,...,0,1,0,0,0,0,0,0,1,27
3,5026920,0,276563,4,0.0,875.0,183.700000,59.5,264.541887,0.0,...,0,0,0,1,0,0,0,0,0,1
4,3040489,2416,256293,9,0.0,526.0,87.627451,50.0,107.612041,0.0,...,0,0,0,0,0,0,1,0,0,33

In [49]:
dataset_testing_TestSet_Test_Case_9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 54 columns):
1351556               99 non-null int64
28                    99 non-null int64
54809                 99 non-null int64
4                     99 non-null int64
0.0                   99 non-null float64
569.0                 99 non-null float64
85.07142857142857     99 non-null float64
37.0                  99 non-null float64
142.95576952615914    99 non-null float64
0.0.1                 99 non-null float64
187.0                 99 non-null float64
46.42857142857143     99 non-null float64
36.5                  99 non-null float64
51.10593240056003     99 non-null float64
0.0.2                 99 non-null float64
502.0                 99 non-null float64
37.142857142857146    99 non-null float64
0.0.3                 99 non-null float64
128.97998579118342    99 non-null float64
0.0.4                 99 non-null float64
506.0                 99 non-null float64
80.35714285714286     99 non-null float64
36.5.1                99 non-null float64
127.93503214123795    99 non-null float64
-435.0                99 non-null float64
187.0.1               99 non-null float64
9.285714285714286     99 non-null float64
30.5                  99 non-null float64
133.73664342998282    99 non-null float64
37                    99 non-null int64
37.1                  99 non-null int64
0                     99 non-null int64
37.2                  99 non-null int64
37.3                  99 non-null int64
22                    99 non-null int64
292                   99 non-null int64
46                    99 non-null int64
0.1                   99 non-null int64
24                    99 non-null int64
0.2                   99 non-null int64
0.3                   99 non-null int64
0.4                   99 non-null int64
0.5                   99 non-null int64
1                     99 non-null int64
0.6                   99 non-null int64
0.7                   99 non-null int64
0.8                   99 non-null int64
0.9                   99 non-null int64
0.10                  99 non-null int64
0.11                  99 non-null int64
0.12                  99 non-null int64
1.1                   99 non-null int64
0.13                  99 non-null int64
3                     99 non-null int64
dtypes: float64(25), int64(29)
memory usage: 41.8 KB

In [50]:
dataset_testing_TestSet_Test_Case_9.describe()

,1351556,28,54809,4,0.0,569.0,85.07142857142857,37.0,142.95576952615914,0.0.1,...,0.6,0.7,0.8,0.9,0.10,0.11,0.12,1.1,0.13,3
count,9.900000e+01,99.000000,9.900000e+01,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,...,99.000000,99.000000,99.000000,99.000000,99.0,99.0,99.000000,99.000000,99.000000,99.000000
mean,3.553722e+06,3022.727273,2.091158e+05,21.838384,3.858586,728.848485,98.725214,53.313131,139.082717,2.404040,...,0.282828,0.242424,0.353535,0.252525,0.0,0.0,0.080808,0.151515,0.161616,17.717172
std,8.251519e+06,12760.125721,4.230632e+05,20.947801,23.104470,878.744424,145.156055,98.344267,180.255805,15.689538,...,0.452666,0.430730,0.480500,0.436672,0.0,0.0,0.273927,0.360375,0.369972,46.751196
min,1.614600e+04,0.000000,1.676000e+03,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
25%,5.957175e+05,0.000000,3.493800e+04,9.000000,0.000000,58.000000,12.900000,7.750000,13.145289,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
50%,1.578743e+06,0.000000,8.182600e+04,10.000000,0.000000,261.000000,58.142857,20.000000,62.992457,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,2.000000
75%,3.350206e+06,54.500000,2.580925e+05,33.500000,0.000000,967.500000,119.688360,58.750000,176.709512,0.000000,...,1.000000,0.000000,1.000000,0.500000,0.0,0.0,0.000000,0.000000,0.000000,11.500000
max,7.260619e+07,79899.000000,3.263205e+06,104.000000,224.000000,2783.000000,868.000000,691.000000,996.475469,152.000000,...,1.000000,1.000000,1.000000,1.000000,0.0,0.0,1.000000,1.000000,1.000000,368.000000

In [51]:
del dataset_testing_TestSet_Test_Case_9

In [52]:
dataset_testing_TestSet_Test_Case_10 = pd.read_csv('facebook_dataset/Dataset/Testing/TestSet/Test_Case_10.csv')

In [53]:
dataset_testing_TestSet_Test_Case_10.head()

,1045111,0,34768,16,0.0,510.0,17.89090909090909,2.0,81.85012305811213,0.0.1,...,0.11,0.12,0.13,0.14,0.15,0.16,0.17,1.1,0.18,0.19
0,10135,0,1025,24,0.0,6.0,2.000000,1.0,2.345208,0.0,...,0,0,0,0,0,0,1,0,0,3
1,441554,0,60660,4,24.0,218.0,86.750000,76.5,56.658517,24.0,...,0,1,1,0,0,0,0,0,0,8
2,5416,24787,314,54,0.0,2.0,1.333333,2.0,0.942809,0.0,...,1,0,0,1,0,0,0,0,0,0
3,3980527,0,249050,14,1610.0,1610.0,1610.000000,1610.0,0.000000,1610.0,...,1,0,0,0,0,0,0,0,1,741
4,684014,0,72208,9,0.0,307.0,38.947368,19.0,55.452183,0.0,...,0,0,0,1,0,0,0,0,0,0

In [54]:
dataset_testing_TestSet_Test_Case_10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 54 columns):
1045111                99 non-null int64
0                      99 non-null int64
34768                  99 non-null int64
16                     99 non-null int64
0.0                    99 non-null float64
510.0                  99 non-null float64
17.89090909090909      99 non-null float64
2.0                    99 non-null float64
81.85012305811213      99 non-null float64
0.0.1                  99 non-null float64
247.0                  99 non-null float64
6.9818181818181815     99 non-null float64
1.0                    99 non-null float64
33.76361188622014      99 non-null float64
0.0.2                  99 non-null float64
310.0                  99 non-null float64
8.436363636363636      99 non-null float64
0.0.3                  99 non-null float64
43.46148290000893      99 non-null float64
0.0.4                  99 non-null float64
427.0                  99 non-null float64
16.2                   99 non-null float64
2.0.1                  99 non-null float64
72.6481933705168       99 non-null float64
-246.0                 99 non-null float64
140.0                  99 non-null float64
-1.4545454545454546    99 non-null float64
0.0.5                  99 non-null float64
38.23412002236088      99 non-null float64
0.1                    99 non-null int64
0.2                    99 non-null int64
0.3                    99 non-null int64
0.4                    99 non-null int64
0.5                    99 non-null int64
15                     99 non-null int64
42                     99 non-null int64
11                     99 non-null int64
0.6                    99 non-null int64
2                      99 non-null int64
0.7                    99 non-null int64
0.8                    99 non-null int64
0.9                    99 non-null int64
0.10                   99 non-null int64
1                      99 non-null int64
0.11                   99 non-null int64
0.12                   99 non-null int64
0.13                   99 non-null int64
0.14                   99 non-null int64
0.15                   99 non-null int64
0.16                   99 non-null int64
0.17                   99 non-null int64
1.1                    99 non-null int64
0.18                   99 non-null int64
0.19                   99 non-null int64
dtypes: float64(25), int64(29)
memory usage: 41.8 KB

In [55]:
dataset_testing_TestSet_Test_Case_10.describe()

,1045111,0,34768,16,0.0,510.0,17.89090909090909,2.0,81.85012305811213,0.0.1,...,0.11,0.12,0.13,0.14,0.15,0.16,0.17,1.1,0.18,0.19
count,9.900000e+01,99.000000,9.900000e+01,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,...,99.000000,99.000000,99.000000,99.000000,99.0,99.0,99.000000,99.000000,99.000000,99.000000
mean,3.419269e+06,7590.797980,2.487527e+05,21.939394,22.222222,812.414141,105.345989,65.959596,128.649120,18.888889,...,0.232323,0.252525,0.353535,0.242424,0.0,0.0,0.040404,0.151515,0.212121,37.747475
std,8.156837e+06,34295.190795,3.776789e+05,20.273547,162.771566,877.177978,197.271941,182.761005,138.418419,162.056169,...,0.424463,0.436672,0.480500,0.430730,0.0,0.0,0.197907,0.360375,0.410891,120.277430
min,5.416000e+03,0.000000,3.140000e+02,1.000000,0.000000,2.000000,1.333333,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
25%,6.558170e+05,0.000000,2.207350e+04,9.000000,0.000000,71.500000,19.812500,5.250000,16.011615,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
50%,1.264369e+06,0.000000,1.024420e+05,16.000000,0.000000,373.000000,58.142857,21.000000,78.735217,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,2.000000
75%,4.162688e+06,9.500000,4.166415e+05,29.000000,0.000000,1338.500000,125.842760,58.500000,238.545669,0.000000,...,0.000000,0.500000,1.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,16.500000
max,7.260619e+07,185932.000000,2.333976e+06,98.000000,1610.000000,2730.000000,1610.000000,1610.000000,803.886808,1610.000000,...,1.000000,1.000000,1.000000,1.000000,0.0,0.0,1.000000,1.000000,1.000000,773.000000

In [56]:
del dataset_testing_TestSet_Test_Case_10

## Parte de treino

In [61]:
dataset_training_Features_Variant_1 = pd.read_csv('facebook_dataset/Dataset/Training/Features_Variant_1.csv')

In [62]:
dataset_training_Features_Variant_1.head()

,634995,0,463,1,0.0,806.0,11.291044776119403,1.0,70.49513846124168,0.0.1,...,0.11,0.12,0.13,0.14,0.15,0.16,0.17,0.18,1.2,0.19
0,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,0,0,0,0,0,0,0,1,0,0
1,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,1,0,0,0,0,0,0,0,1,0
2,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,1,0,0,1,0,0,0,0,0,0
3,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,0,0,0,0,0,1,0,0,0,0
4,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,0,0,0,0,0,0,0,1,0,0

In [63]:
dataset_training_Features_Variant_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40948 entries, 0 to 40947
Data columns (total 54 columns):
634995                40948 non-null int64
0                     40948 non-null int64
463                   40948 non-null int64
1                     40948 non-null int64
0.0                   40948 non-null float64
806.0                 40948 non-null float64
11.291044776119403    40948 non-null float64
1.0                   40948 non-null float64
70.49513846124168     40948 non-null float64
0.0.1                 40948 non-null float64
806.0.1               40948 non-null float64
7.574626865671642     40948 non-null float64
0.0.2                 40948 non-null float64
69.435826365571       40948 non-null float64
0.0.3                 40948 non-null float64
76.0                  40948 non-null float64
2.6044776119402986    40948 non-null float64
0.0.4                 40948 non-null float64
8.50550186882253      40948 non-null float64
0.0.5                 40948 non-null float64
806.0.2               40948 non-null float64
10.649253731343284    40948 non-null float64
1.0.1                 40948 non-null float64
70.25478763764251     40948 non-null float64
-69.0                 40948 non-null float64
806.0.3               40948 non-null float64
4.970149253731344     40948 non-null float64
0.0.6                 40948 non-null float64
69.85058043098057     40948 non-null float64
0.1                   40948 non-null int64
0.2                   40948 non-null int64
0.3                   40948 non-null int64
0.4                   40948 non-null int64
0.5                   40948 non-null int64
65                    40948 non-null int64
166                   40948 non-null int64
2                     40948 non-null int64
0.6                   40948 non-null int64
24                    40948 non-null int64
0.7                   40948 non-null int64
0.8                   40948 non-null int64
0.9                   40948 non-null int64
1.1                   40948 non-null int64
0.10                  40948 non-null int64
0.11                  40948 non-null int64
0.12                  40948 non-null int64
0.13                  40948 non-null int64
0.14                  40948 non-null int64
0.15                  40948 non-null int64
0.16                  40948 non-null int64
0.17                  40948 non-null int64
0.18                  40948 non-null int64
1.2                   40948 non-null int64
0.19                  40948 non-null int64
dtypes: float64(25), int64(29)
memory usage: 16.9 MB

In [64]:
dataset_training_Features_Variant_1.describe()

,634995,0,463,1,0.0,806.0,11.291044776119403,1.0,70.49513846124168,0.0.1,...,0.11,0.12,0.13,0.14,0.15,0.16,0.17,0.18,1.2,0.19
count,4.094800e+04,40948.000000,4.094800e+04,40948.000000,40948.000000,40948.000000,40948.000000,40948.000000,40948.000000,40948.000000,...,40948.000000,40948.000000,40948.000000,40948.000000,40948.000000,40948.000000,40948.000000,40948.000000,40948.000000,40948.000000
mean,1.313830e+06,4676.247949,4.480133e+04,24.255348,1.586280,443.324998,55.721469,35.646381,67.464077,0.219473,...,0.146161,0.136930,0.141643,0.132510,0.137638,0.148603,0.150850,0.143890,0.144867,7.323068
std,6.785834e+06,20593.423357,1.109349e+05,19.950496,20.753426,496.698029,86.934332,69.960877,81.569243,10.055268,...,0.353272,0.343777,0.348688,0.339048,0.344524,0.355701,0.357907,0.350982,0.351971,35.494965
min,3.600000e+01,0.000000,0.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.673400e+04,0.000000,6.980000e+02,9.000000,0.000000,45.000000,5.527273,2.000000,8.278756,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.929110e+05,0.000000,7.141000e+03,18.000000,0.000000,241.000000,23.374101,12.000000,35.069140,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.204214e+06,99.000000,5.026400e+04,32.000000,0.000000,717.000000,71.828829,42.000000,102.554954,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,4.869723e+08,186370.000000,6.089942e+06,106.000000,2341.000000,2341.000000,2341.000000,2341.000000,731.394558,1923.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1305.000000

In [65]:
del dataset_training_Features_Variant_1

In [66]:
dataset_training_Features_Variant_2 = pd.read_csv('facebook_dataset/Dataset/Training/Features_Variant_2.csv')

In [67]:
dataset_training_Features_Variant_2.head()

,634995,0,463,1,0.0,1275.0,13.837735849056603,1.0,103.36102733734855,0.0.1,...,0.11,0.12,0.13,0.14,0.15,0.16,0.17,1.2,0.18,0.19
0,634995,0,463,1,0.0,1275.0,13.837736,1.0,103.361027,0.0,...,0,0,0,0,0,0,0,1,0,0
1,634995,0,463,1,0.0,1275.0,13.837736,1.0,103.361027,0.0,...,1,0,0,0,0,0,0,0,1,0
2,634995,0,463,1,0.0,1275.0,13.837736,1.0,103.361027,0.0,...,1,0,0,0,0,0,0,0,1,3
3,634995,0,463,1,0.0,1275.0,13.837736,1.0,103.361027,0.0,...,0,0,0,0,0,1,0,0,0,0
4,634995,0,463,1,0.0,1275.0,13.837736,1.0,103.361027,0.0,...,0,0,0,0,0,1,0,0,0,0

In [68]:
dataset_training_Features_Variant_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81311 entries, 0 to 81310
Data columns (total 54 columns):
634995                 81311 non-null int64
0                      81311 non-null int64
463                    81311 non-null int64
1                      81311 non-null int64
0.0                    81311 non-null float64
1275.0                 81311 non-null float64
13.837735849056603     81311 non-null float64
1.0                    81311 non-null float64
103.36102733734855     81311 non-null float64
0.0.1                  81311 non-null float64
372.0                  81311 non-null float64
4.09811320754717       81311 non-null float64
0.0.2                  81311 non-null float64
25.351524762048715     81311 non-null float64
0.0.3                  81311 non-null float64
725.0                  81311 non-null float64
5.679245283018868      81311 non-null float64
0.0.4                  81311 non-null float64
49.70022344769847      81311 non-null float64
0.0.5                  81311 non-null float64
872.0                  81311 non-null float64
10.947169811320755     81311 non-null float64
1.0.1                  81311 non-null float64
76.05120569863733      81311 non-null float64
-353.0                 81311 non-null float64
71.0                   81311 non-null float64
-1.5811320754716982    81311 non-null float64
0.0.6                  81311 non-null float64
26.775975267926196     81311 non-null float64
0.1                    81311 non-null int64
0.2                    81311 non-null int64
0.3                    81311 non-null int64
0.4                    81311 non-null int64
0.5                    81311 non-null int64
38                     81311 non-null int64
166                    81311 non-null int64
2                      81311 non-null int64
0.6                    81311 non-null int64
24                     81311 non-null int64
0.7                    81311 non-null int64
0.8                    81311 non-null int64
0.9                    81311 non-null int64
1.1                    81311 non-null int64
0.10                   81311 non-null int64
0.11                   81311 non-null int64
0.12                   81311 non-null int64
0.13                   81311 non-null int64
0.14                   81311 non-null int64
0.15                   81311 non-null int64
0.16                   81311 non-null int64
0.17                   81311 non-null int64
1.2                    81311 non-null int64
0.18                   81311 non-null int64
0.19                   81311 non-null int64
dtypes: float64(25), int64(29)
memory usage: 33.5 MB

In [69]:
dataset_training_Features_Variant_2.describe()

,634995,0,463,1,0.0,1275.0,13.837735849056603,1.0,103.36102733734855,0.0.1,...,0.11,0.12,0.13,0.14,0.15,0.16,0.17,1.2,0.18,0.19
count,8.131100e+04,81311.000000,8.131100e+04,81311.000000,81311.000000,81311.000000,81311.000000,81311.000000,81311.000000,81311.000000,...,81311.000000,81311.000000,81311.000000,81311.000000,81311.000000,81311.000000,81311.000000,81311.000000,81311.000000,81311.000000
mean,1.313929e+06,4667.761742,4.475432e+04,24.255919,0.707198,464.655815,55.729448,35.392677,67.588213,0.143363,...,0.146155,0.136956,0.141051,0.133401,0.138419,0.145478,0.155182,0.144987,0.141481,7.190700
std,6.804993e+06,20561.380955,1.109285e+05,19.949112,12.169822,520.920975,85.243673,67.044148,82.837179,7.820027,...,0.353264,0.343803,0.348076,0.340010,0.345342,0.352585,0.362080,0.352089,0.348520,36.049587
min,3.600000e+01,0.000000,0.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.673400e+04,0.000000,6.980000e+02,9.000000,0.000000,47.000000,5.190751,2.000000,8.032349,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.929110e+05,0.000000,7.045000e+03,18.000000,0.000000,251.000000,22.794183,13.000000,32.565168,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.204214e+06,99.000000,5.026400e+04,32.000000,0.000000,717.000000,71.791489,42.000000,102.060861,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,4.869723e+08,186370.000000,6.089942e+06,106.000000,1311.000000,2438.000000,1693.500000,1693.500000,743.091650,1311.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1966.000000

In [70]:
del dataset_training_Features_Variant_2

In [71]:
dataset_training_Features_Variant_3 = pd.read_csv('facebook_dataset/Dataset/Training/Features_Variant_3.csv')

In [72]:
dataset_training_Features_Variant_3.head()

,634995,0,463,1,0.0,1280.0,14.807017543859649,1.0,110.92703624139808,0.0.1,...,0.11,0.12,0.13,0.14,0.15,0.16,0.17,0.18,1.2,0.19
0,634995,0,463,1,0.0,1280.0,14.807018,1.0,110.927036,0.0,...,0,0,0,0,0,0,0,0,1,0
1,634995,0,463,1,0.0,1280.0,14.807018,1.0,110.927036,0.0,...,1,0,0,0,0,0,0,0,1,0
2,634995,0,463,1,0.0,1280.0,14.807018,1.0,110.927036,0.0,...,1,0,1,0,0,0,0,0,0,0
3,634995,0,463,1,0.0,1280.0,14.807018,1.0,110.927036,0.0,...,0,0,0,0,0,1,0,0,0,0
4,634995,0,463,1,0.0,1280.0,14.807018,1.0,110.927036,0.0,...,0,0,0,0,1,0,0,0,0,0

In [73]:
dataset_training_Features_Variant_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121097 entries, 0 to 121096
Data columns (total 54 columns):
634995                121097 non-null int64
0                     121097 non-null int64
463                   121097 non-null int64
1                     121097 non-null int64
0.0                   121097 non-null float64
1280.0                121097 non-null float64
14.807017543859649    121097 non-null float64
1.0                   121097 non-null float64
110.92703624139808    121097 non-null float64
0.0.1                 121097 non-null float64
159.0                 121097 non-null float64
2.6165413533834587    121097 non-null float64
0.0.2                 121097 non-null float64
12.239294419507509    121097 non-null float64
0.0.3                 121097 non-null float64
376.0                 121097 non-null float64
4.578947368421052     121097 non-null float64
0.0.4                 121097 non-null float64
30.644671602724575    121097 non-null float64
0.0.5                 121097 non-null float64
872.0                 121097 non-null float64
11.197994987468672    121097 non-null float64
1.0.1                 121097 non-null float64
76.10834116558722     121097 non-null float64
-228.0                121097 non-null float64
46.0                  121097 non-null float64
-1.962406015037594    121097 non-null float64
0.0.6                 121097 non-null float64
20.27705569590425     121097 non-null float64
0.1                   121097 non-null int64
0.2                   121097 non-null int64
0.3                   121097 non-null int64
0.4                   121097 non-null int64
0.5                   121097 non-null int64
70                    121097 non-null int64
166                   121097 non-null int64
2                     121097 non-null int64
0.6                   121097 non-null int64
24                    121097 non-null int64
0.7                   121097 non-null int64
0.8                   121097 non-null int64
0.9                   121097 non-null int64
1.1                   121097 non-null int64
0.10                  121097 non-null int64
0.11                  121097 non-null int64
0.12                  121097 non-null int64
0.13                  121097 non-null int64
0.14                  121097 non-null int64
0.15                  121097 non-null int64
0.16                  121097 non-null int64
0.17                  121097 non-null int64
0.18                  121097 non-null int64
1.2                   121097 non-null int64
0.19                  121097 non-null int64
dtypes: float64(25), int64(29)
memory usage: 49.9 MB

In [74]:
dataset_training_Features_Variant_3.describe()

,634995,0,463,1,0.0,1280.0,14.807017543859649,1.0,110.92703624139808,0.0.1,...,0.11,0.12,0.13,0.14,0.15,0.16,0.17,0.18,1.2,0.19
count,1.210970e+05,121097.000000,1.210970e+05,121097.000000,121097.000000,121097.000000,121097.000000,121097.000000,121097.000000,121097.000000,...,121097.000000,121097.000000,121097.000000,121097.000000,121097.000000,121097.000000,121097.000000,121097.000000,121097.000000,121097.000000
mean,1.314641e+06,4668.152076,4.477017e+04,24.252376,0.734172,480.264375,55.913055,35.244432,68.265079,0.088854,...,0.146428,0.136923,0.139508,0.134099,0.137683,0.146899,0.155190,0.144620,0.142002,7.103727
std,6.825228e+06,20554.818503,1.110182e+05,19.943537,13.099418,534.263473,86.605743,68.703471,82.871088,3.149715,...,0.353536,0.343768,0.346477,0.340760,0.344568,0.354006,0.362087,0.351718,0.349053,33.468929
min,3.600000e+01,0.000000,0.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.673400e+04,0.000000,6.980000e+02,9.000000,0.000000,49.000000,5.314050,2.000000,8.024092,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.929110e+05,0.000000,7.045000e+03,18.000000,0.000000,244.000000,24.173494,12.000000,34.126990,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.204214e+06,99.000000,5.026400e+04,32.000000,0.000000,772.000000,71.096478,41.000000,103.590595,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,4.869723e+08,186370.000000,6.089942e+06,106.000000,1841.000000,2450.000000,2085.000000,2347.000000,730.948969,434.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1816.000000

In [75]:
del dataset_training_Features_Variant_3

In [76]:
dataset_training_Features_Variant_4 = pd.read_csv('facebook_dataset/Dataset/Training/Features_Variant_4.csv')

In [77]:
dataset_training_Features_Variant_4.head()

,634995,0,463,1,0.0,1279.0,13.214828897338403,1.0,96.7997690772648,0.0.1,...,0.11,0.12,0.13,0.14,0.15,0.16,0.17,1.2,0.18,0.19
0,634995,0,463,1,0.0,1279.0,13.214829,1.0,96.799769,0.0,...,0,0,0,0,0,0,0,0,1,0
1,634995,0,463,1,0.0,1279.0,13.214829,1.0,96.799769,0.0,...,1,0,1,0,0,0,0,0,0,0
2,634995,0,463,1,0.0,1279.0,13.214829,1.0,96.799769,0.0,...,1,0,1,0,0,0,0,0,0,0
3,634995,0,463,1,0.0,1279.0,13.214829,1.0,96.799769,0.0,...,0,0,0,0,0,0,1,0,0,0
4,634995,0,463,1,0.0,1279.0,13.214829,1.0,96.799769,0.0,...,0,0,0,0,0,0,0,1,0,0

In [78]:
dataset_training_Features_Variant_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160423 entries, 0 to 160422
Data columns (total 54 columns):
634995                160423 non-null int64
0                     160423 non-null int64
463                   160423 non-null int64
1                     160423 non-null int64
0.0                   160423 non-null float64
1279.0                160423 non-null float64
13.214828897338403    160423 non-null float64
1.0                   160423 non-null float64
96.7997690772648      160423 non-null float64
0.0.1                 160423 non-null float64
872.0                 160423 non-null float64
5.108365019011407     160423 non-null float64
0.0.2                 160423 non-null float64
44.55694061133941     160423 non-null float64
0.0.3                 160423 non-null float64
460.0                 160423 non-null float64
3.8859315589353614    160423 non-null float64
0.0.4                 160423 non-null float64
30.10460709956019     160423 non-null float64
0.0.5                 160423 non-null float64
872.0.1               160423 non-null float64
11.053231939163497    160423 non-null float64
1.0.1                 160423 non-null float64
76.37453377734401     160423 non-null float64
-227.0                160423 non-null float64
872.0.2               160423 non-null float64
1.2224334600760456    160423 non-null float64
0.0.6                 160423 non-null float64
41.31288789064907     160423 non-null float64
0.1                   160423 non-null int64
0.2                   160423 non-null int64
0.3                   160423 non-null int64
0.4                   160423 non-null int64
0.5                   160423 non-null int64
51                    160423 non-null int64
166                   160423 non-null int64
2                     160423 non-null int64
0.6                   160423 non-null int64
24                    160423 non-null int64
0.7                   160423 non-null int64
0.8                   160423 non-null int64
0.9                   160423 non-null int64
1.1                   160423 non-null int64
0.10                  160423 non-null int64
0.11                  160423 non-null int64
0.12                  160423 non-null int64
0.13                  160423 non-null int64
0.14                  160423 non-null int64
0.15                  160423 non-null int64
0.16                  160423 non-null int64
0.17                  160423 non-null int64
1.2                   160423 non-null int64
0.18                  160423 non-null int64
0.19                  160423 non-null int64
dtypes: float64(25), int64(29)
memory usage: 66.1 MB

In [79]:
dataset_training_Features_Variant_4.describe()

,634995,0,463,1,0.0,1279.0,13.214828897338403,1.0,96.7997690772648,0.0.1,...,0.11,0.12,0.13,0.14,0.15,0.16,0.17,1.2,0.18,0.19
count,1.604230e+05,160423.000000,1.604230e+05,160423.000000,160423.000000,160423.000000,160423.000000,160423.000000,160423.000000,160423.000000,...,160423.000000,160423.000000,160423.000000,160423.000000,160423.000000,160423.000000,160423.000000,160423.000000,160423.000000,160423.000000
mean,1.312524e+06,4677.485136,4.475265e+04,24.243699,0.532050,481.351128,55.879760,35.443247,67.921284,0.071816,...,0.146189,0.136932,0.140385,0.133098,0.138627,0.146170,0.154554,0.145185,0.141981,7.146045
std,6.831315e+06,20597.940562,1.110826e+05,19.941203,10.748805,534.749954,86.907709,69.472321,82.688895,1.888882,...,0.353296,0.343776,0.347387,0.339682,0.345558,0.353277,0.361480,0.352288,0.349032,34.314090
min,3.600000e+01,0.000000,0.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.673400e+04,0.000000,6.980000e+02,9.000000,0.000000,47.000000,5.592375,2.000000,7.905385,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.929110e+05,0.000000,7.045000e+03,18.000000,0.000000,246.000000,23.729765,12.000000,33.125054,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.204214e+06,99.000000,5.026400e+04,32.000000,0.000000,783.000000,71.751947,41.000000,103.316009,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,4.869723e+08,186370.000000,6.089942e+06,106.000000,1494.000000,2495.000000,1920.750000,2239.000000,1023.765690,222.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2106.000000

In [80]:
del dataset_training_Features_Variant_4

In [81]:
dataset_training_Features_Variant_5 = pd.read_csv('facebook_dataset/Dataset/Training/Features_Variant_5.csv')

In [82]:
dataset_training_Features_Variant_5.head()

,634995,0,463,1,0.0,1280.0,13.158778625954199,1.0,94.9936396988823,0.0.1,...,0.11,0.12,0.13,0.14,0.15,0.16,1.2,0.17,0.18,0.19
0,634995,0,463,1,0.0,1280.0,13.158779,1.0,94.99364,0.0,...,0,0,1,0,0,0,0,0,0,0
1,634995,0,463,1,0.0,1280.0,13.158779,1.0,94.99364,0.0,...,1,0,0,0,0,0,0,0,1,0
2,634995,0,463,1,0.0,1280.0,13.158779,1.0,94.99364,0.0,...,1,0,0,1,0,0,0,0,0,0
3,634995,0,463,1,0.0,1280.0,13.158779,1.0,94.99364,0.0,...,0,0,0,0,0,0,1,0,0,0
4,634995,0,463,1,0.0,1280.0,13.158779,1.0,94.99364,0.0,...,0,0,0,0,0,1,0,0,0,0

In [83]:
dataset_training_Features_Variant_5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199029 entries, 0 to 199028
Data columns (total 54 columns):
634995                 199029 non-null int64
0                      199029 non-null int64
463                    199029 non-null int64
1                      199029 non-null int64
0.0                    199029 non-null float64
1280.0                 199029 non-null float64
13.158778625954199     199029 non-null float64
1.0                    199029 non-null float64
94.9936396988823       199029 non-null float64
0.0.1                  199029 non-null float64
806.0                  199029 non-null float64
4.987786259541985      199029 non-null float64
0.0.2                  199029 non-null float64
41.25078583179447      199029 non-null float64
0.0.3                  199029 non-null float64
844.0                  199029 non-null float64
5.850381679389313      199029 non-null float64
0.0.4                  199029 non-null float64
50.54846268688092      199029 non-null float64
0.0.5                  199029 non-null float64
872.0                  199029 non-null float64
11.08091603053435      199029 non-null float64
1.0.1                  199029 non-null float64
75.49357903488723      199029 non-null float64
-505.0                 199029 non-null float64
806.0.1                199029 non-null float64
-0.8625954198473282    199029 non-null float64
0.0.6                  199029 non-null float64
41.77086960385517      199029 non-null float64
0.1                    199029 non-null int64
0.2                    199029 non-null int64
0.3                    199029 non-null int64
0.4                    199029 non-null int64
0.5                    199029 non-null int64
25                     199029 non-null int64
166                    199029 non-null int64
2                      199029 non-null int64
0.6                    199029 non-null int64
24                     199029 non-null int64
0.7                    199029 non-null int64
0.8                    199029 non-null int64
0.9                    199029 non-null int64
1.1                    199029 non-null int64
0.10                   199029 non-null int64
0.11                   199029 non-null int64
0.12                   199029 non-null int64
0.13                   199029 non-null int64
0.14                   199029 non-null int64
0.15                   199029 non-null int64
0.16                   199029 non-null int64
1.2                    199029 non-null int64
0.17                   199029 non-null int64
0.18                   199029 non-null int64
0.19                   199029 non-null int64
dtypes: float64(25), int64(29)
memory usage: 82.0 MB

In [84]:
dataset_training_Features_Variant_5.describe()

,634995,0,463,1,0.0,1280.0,13.158778625954199,1.0,94.9936396988823,0.0.1,...,0.11,0.12,0.13,0.14,0.15,0.16,1.2,0.17,0.18,0.19
count,1.990290e+05,199029.000000,1.990290e+05,199029.000000,199029.000000,199029.000000,199029.000000,199029.000000,199029.000000,199029.000000,...,199029.000000,199029.000000,199029.000000,199029.000000,199029.000000,199029.000000,199029.000000,199029.000000,199029.000000,199029.000000
mean,1.313789e+06,4674.541218,4.477195e+04,24.242191,0.470258,485.313663,55.901335,35.263710,68.090596,0.068136,...,0.146210,0.136955,0.139392,0.134830,0.136789,0.147089,0.155294,0.144245,0.142361,7.168744
std,6.771148e+06,20573.489658,1.108986e+05,19.935316,13.178100,538.192823,86.515660,68.162799,82.411242,2.172596,...,0.353317,0.343801,0.346356,0.341542,0.343625,0.354196,0.362186,0.351339,0.349421,34.298276
min,3.600000e+01,0.000000,0.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.673400e+04,0.000000,6.980000e+02,9.000000,0.000000,49.000000,5.494737,2.000000,8.033255,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.929110e+05,0.000000,7.237000e+03,18.000000,0.000000,256.000000,23.647407,12.000000,35.022296,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.204214e+06,99.000000,5.026400e+04,32.000000,0.000000,784.000000,70.931961,41.000000,104.152684,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,4.869723e+08,186370.000000,6.089942e+06,106.000000,1458.000000,2495.000000,2031.000000,2123.000000,762.357746,227.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1702.000000

In [85]:
del dataset_training_Features_Variant_5